/* Escalator */
.container-escalator {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/mountain.jpg');
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'poppins';
}

.container-escalator p {
  font-size: 30px;
  color: white;
}
.container-escalator h1 {
  font-size: 5rem;
  margin: 50px;
  text-align: center;
  color: white;
}

.container-escalator a {
  background-color: white;
  display: inline-block;
  font-weight: 500;
  cursor: pointer;
  color: #353435;
  font-size: 20px;
  padding: 21px 6%;
  text-decoration: none;
  margin-top: 20px;
}

.container-escalator a:active {
  position: relative;
  top: 1px;
}

.container-escalator button:hover {
  border: none;
}

.two-mountain {
  width: 7%;
  margin-top: 80px;
}
